<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration scan="true" debug="false">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%4p] [%d{HH:mm:ss}] [%t] %c{36}: %m%n</pattern>
    </encoder>
  </appender>
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>/var/log/jetty/namedcompare.log</File>
    <encoder>
      <pattern>[%d{HH:mm:ss}] [%4p] [%t] %c{36}: %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>/var/log/jetty/namedcompare-%d{yyyy-MM-dd-HH}.log</fileNamePattern>
    </rollingPolicy>
  </appender>
  <logger name="name-compare" level="DEBUG"/>
  <logger name="com.mchange.v2.c3p0" level="WARN"/>
  <root level="INFO">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FILE"/>
  </root>
</configuration>
